@import 'https://fonts.googleapis.com/css?family=Suez+One&subset=latin-ext';

body {
  background-color: #542a0e;
  color: white;
  font-family: 'Suez One', serif;
}

.table-area {
  height: 100%;
  width: 100%;
}
.table-area .btn{
  color: black;
}

.picked-cards-area{
  background-color: #0d9461;
  width: 650px;
  height: 180px;
  left: 50%;
  
  margin-left: -325px;
  margin-top: 5px;
  margin-bottom: 5px;
  
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center; 
  
  border-style: solid;
  border-width: 5px;
  border-color: #c1ba23;
  border-radius: 50px;
}
@media only screen and (max-width: 674px) {
    .picked-cards-area {
      width: calc(100% - 10px);
      margin: 5px 0px 5px 5px;
      left: 0%;
    }
}
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
}

.interface {
  font-size: 13px;
  height: 50px;
}
.hand-combo-area{
  font-size: 13px;
}
.hand-list-element{
  height: auto;
  margin-bottom: 5px;
}

.cards-pickup-area {
  height: 100px;
  position: relative;
  padding: 0 0 0 0;
  margin-bottom: 2px;
}


.card {
  height: 100px;
  width: 80px;
  background-size: 80px 100px;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.1s ease-in-out;
}

.card.on-table {
  position: static;
  z-index: 1;
  top: 0px;
  margin-right: 1px;
}

.card:hover{
  cursor: pointer;
  z-index: 1;
  -webkit-transform: translate(0px, -10px);
  box-shadow: 0px 0px 5px 1px black;
}